<app-navbar></app-navbar>
<div class="button-container">
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateInfoModal">Update Info</button>
</div>
<div class="modal fade" id="updateInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="updatedUsername">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="updatedPassword">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">email</span>
                <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1" name="updatedemail">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">First Name</span>
                <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1" name="updatedFirstName">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Last Name</span>
                <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1" name="updatedLastName">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Profile Picture</span>
                <input type="file" class="form-control"  aria-describedby="basic-addon1" name="updatedProfilePic">
              </div>
              
              
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<app-profilebox></app-profilebox>
<app-post></app-post>
