<h1>Create user</h1>
<app-navbar></app-navbar>
<button type="button" class="btn btn-primary">User Name</button>
<button type="button" class="btn btn-primary">Email</button>
<button type="button" class="btn btn-primary">First Name</button>
<button type="button" class="btn btn-primary">Last Name</button>
<button type="button" class="btn btn-primary">Password</button>
<button type="button" class="btn btn-primary">Confirm Password</button>
<button type="button" class="btn btn-primary">Submit</button>