<div class="login-container">

    <div class="login-box">
    <form (submit)="loginUser()">
      <input type="text" class="inputs" id="username-input" placeholder="Username" name="username" [(ngModel)]="user.userName">
      <br>
      <input type="password" class="inputs" id="password-input" placeholder="Password" name="password" [(ngModel)]="user.password">
      <br>
      
      <div *ngIf="message" class= "mb-3 err-message" role="alert">
        {{message}}
      </div>

      <!-- need to make this pull up a model and enter in email -->
      <a [routerLink]="['/create']" class="login-links">Forgot Password</a>
      <br>
      <a [routerLink]="['/create']"class="login-links">Register</a>
        
       <br>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </form>
    </div>

   </div>
