<div id="div2">
    <div id="div1">
    <div id ="div4">
      <form (submit)="createComment()">
    <div id="div3">
    <picture>
        <source srcset="..." type="image/svg+xml">
        <img src="..." class="img-fluid img-thumbnail" alt="...">
      </picture>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Name</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write Your Post Here"></textarea>
      </div>
    </div>
      <div class="buttons">
          <div id="div5">
              <div id="div6">
      <!-- <button type="button" class="btn" id="b2"> -->
        Likes <span class="badge bg-secondary">4</span>
     <!--  </button> -->
    </div>
    </div>
      <button *ngIf="!comment" type="button" class="btn btn-primary" id="b1">Like</button>
      <button *ngIf="comment" type="submit" class="btn btn-primary" id="b2">Comment</button>
  <button *ngIf="!comment" type="button" class="btn btn-danger" id="b3">Delete</button>
    </div>
  </form>
    </div>
    </div>
    </div>
