<app-navbar></app-navbar>
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createPostModal" >Create Post</button>
<div  class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div >
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Message</span>
                <input type="text" class="form-control" placeholder="Type Your Message Here" aria-label="Username" aria-describedby="basic-addon1" name="postMessage" [(ngModel)]="post.message">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Add Picture</span>
                <input type="file" class="form-control"  aria-describedby="basic-addon1" name="updatedProfilePic" (change)="handleFileInput($event)">
              </div>              
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createPost()">Save changes</button>
        </div>
      </div>
      </div>
    </div>
</div>
<app-post ></app-post>
<app-post ></app-post>


