button {
    display: flex;
}

.stuff {
    display: flex;
    justify-content: center;
    /* border: solid green 1px; */
}

form {
}

.stuff2 {
    margin: 5px;
    /* border:solid blue 1px; */
}

.stuff3 {
    border: solid black 1px;
    background-color: aliceblue;
    border-radius:5px;
    box-shadow: 5px 5px 5px 1px grey;
    margin-top:100px;
}