<div id="div2">
<div id="div1">
<div id ="div4">
<form (submit)="createPost()">
<div id="div3">
<div id="picdiv">
    <img src="" class="img-fluid img-thumbnail" alt="...">
  </div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Name</label>
    <textarea *ngIf="!posted" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write Your Post Here" [(ngModel)]="post.message"></textarea>
    <textarea *ngIf="posted" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
  </div>
</div>
  <div class="buttons">
      <div *ngIf="posted" id="div5">
          <div id="div6">
  <!-- <button type="button" class="btn" id="b2"> -->
    Likes <span class="badge bg-secondary">4</span>
 <!--  </button> -->
</div>
</div>
  <button *ngIf="posted" type="button" class="btn btn-primary" id="b1">Like</button>
  <button *ngIf="!posted" type="submit" class="btn btn-primary" id="b2">Post</button>
  <button *ngIf="posted" type="button" class="btn btn-danger" id="b3">Delete</button>
  <button *ngIf="posted" type="button" class="btn btn-success" id="b4">Comment</button>
</div>
</form>
</div>
</div>
</div>


